:host {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.scrim {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.info {
	color: darkslategrey;
	margin: 20px;
}
