<div class="scrim" routerLink=""></div>

<div class="info">
  <p>
    Mariusz Kiepura
    (b.1995) is a Polish photographer/artist living in central Portugal. His works is based on dynamic range of moods and movements, naturally carved set-ups of nature and urban life
    , discretion of temporary and constant reality. Working in the mediums of digital, analog, and archival photography, Kiepura focuses on the untold quirks in the conversation between color and composition. He is currently exploring the theme of relationship, mental health and belonging, searching for organic nuances of the world "in between".
  </p>

  <p>
    <a href="mailto:studio.mkiepura@gmail.com">
      studio.mkiepura@gmail.com
    </a>
  </p>
  <p>
    <a href="https://www.instagram.com/mariuszkiepura/">
      @mariuszkiepura
    </a>
  </p>
  <p>
    +351 933 019 901
  </p>
</div>
