@import '~src/globals';

$dot-size: 60px;
$dot-small-size: 30px;

header {
	margin-top: $top-margin;
	position: sticky;
	width: fit-content;
}

h1, h3 {
	font-family: georgia,palatino,book antiqua,palatino linotype,serif;
	font-size: 16px;
	font-weight: 400;
	margin: 20px;
	color: darkslategrey;
}

footer {
	position: fixed;
	bottom: 0;
	h3 {
		line-height: .4;
	}
}

a, a:link, a:visited {
	text-decoration: none;
}

.home {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: $dot-size;
	height: $dot-size;
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
}

@media screen and (max-width: 930px) {
	footer {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.home {
		right: calc(50vw - $dot-small-size / 2);
		bottom: calc($top-margin / 2);
		width: $dot-small-size;
		height: $dot-small-size;
	}
}
