@import '~src/globals';

.slide-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	&::before, &::after {
		content: '';
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
	}
	&::before {
		left: 0;
		// cursor: url(~src/assets/left_cursor.png), auto;
		cursor: w-resize;
	}
	&::after {
		right: 0;
		// cursor: url(~src/assets/right_cursor.png), auto;
		cursor: e-resize;
	}
	.img-wrapper {
		position: absolute;
		left: 260px;
		display: flex;
		z-index: -1;
		height: 100%;
		align-items: center;
	}
}

::ng-deep img {
	margin: $top-margin;
	max-width: min(70vw, 600px);
	max-height: calc(100vh - $top-margin * 2);
}

@media screen and (max-width: 1200px) {
	.img-wrapper {
		left: 150px !important;
	}
	::ng-deep img {
		max-width: min(80vw, 600px);
	}
}

@media screen and (max-width: 930px) {
	.img-wrapper {
		left: 0 !important;
		width: 100%;
	}
	::ng-deep img {
		max-height: calc(100vh - $top-margin * 5);
		max-width: calc(100vw - $top-margin * 2);
	}
}
